
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
  }
}


.header {
  background-color: #2E3339;
  color: #fff;
  font-size: 1.8em;
  padding: 10px;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title_number {
  font-size: 3.8em;
  color: #FDCC35;
  justify-content: center;
}

.textBox {
  width: 90%;
  border-top: 3px solid gray;
  border-radius: 5px;
  max-width: 400px;
  padding: 5px;
  color: gray;
}

.button {
  background-color: #2E3339;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px 0;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #252633;
}

.yellow {
  background-color: #FFF3CD;
  color: orange;
  border-color: orange;

}
.green {
  background-color: #D4EDDA;
  color: #155724;
  border-color: #155724;
}

.message {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  border: 1.5px solid;
}

.list {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border: 1.5px solid gray;
  width: 100%;
  max-width: 400px;
}

.item {
  border-bottom: 1.5px solid lightgray;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.item:last-child {
  border-bottom: none;
}